@import 'helpers';
@import 'votes';

// INDEX
.top_row_article_index {
  max-height: 400px;
  margin-right: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.bottom_row_article_index {
  max-height: 300px;
  margin-right: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.most_voted_article {
  background-image: $grad_bckg_one !important;
  max-height: 400px;

  @include article_index_img_containers;
  @include link_container_elements;

  p:first-of-type {
    margin-top: 285px;
  }

  img {
    width: 100%;
    max-height: 400px;
    object-position: 54% 40%;
  }
}

.last_article {
  @include article_index_img_containers;
  @include link_container_elements;

  p:first-of-type {
    padding-top: 310px;
    padding-bottom: 30px;
    padding-right: 25px;
    color: $soft_white;
    text-align: center;
  }

  img {
    width: 100%;
    max-height: 400px;
    left: -1px;
  }
}

.categories_with_last_article {
  height: 310px;
  font-size: 18px;
  padding-left: 30px;

  @include article_index_img_containers;

  .category_name {
    padding-top: 20px;
    overflow-y: hidden;
  }

  .category_name a {
    color: $soft_white;
    text-decoration: underline;
    text-decoration-color: orange;
  }

  .category_last_article {
    margin-top: 180px;
    overflow-y: hidden;
  }

  .category_last_article a {
    color: $soft_white;
  }

  img {
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-position: 50% 54%;
    top: -10px;
  }
}

// NEW
.article_new {
  height: 1400px;
}

.article_new_wrapper {
  background-color: rgba(255, 255, 255, 0.931);
  margin: 0 20%;
  padding: 2%;
  height: 92%;
  max-height: 92%;
  border-radius: 5px;
}

.article_form {
  width: 100%;
  height: 100%;
}

.article_title,
.article_text {
  @include prata-bolder;

  font-size: 35px;
  color: $color_titles;
  width: 100%;
}

.article_text {
  font-size: 25px;
  height: 830px;
}

.article_form_style {
  border: none;
  background-color: rgba(255, 255, 255, 0.931);
}

.img_field label {
  cursor: pointer;
  font-size: 20px;
  color: rgb(11, 136, 98);

  @include mukta-normal;

  i {
    font-size: 30px;
    color: rgb(11, 136, 98);
  }
}

.img_field input {
  display: none;
}

.category_field {
  width: 25%;

  label {
    display: none;
  }

  select {
    border: none;
    background-color: transparent;
    padding: 10px 10px 10px 0;
    margin-left: -5px;
    border-radius: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 18px;

    @include mukta-normal;

    background-image: url('icons8-down-button-20-maude.png');
    background-repeat: no-repeat;
    background-position: 70% 50%;
    cursor: pointer;
    color: $color_titles;
    font-size: 20px;
  }
}

.actions {
  input {
    padding: 10px 15px;
  }

  input,
  a {
    background-color: $bckg_footer;
    padding: 5px 15px;
    border-radius: 25px;
    color: $soft_white;

    @include mukta-normal;

    font-size: 20px;
    width: 155px;
  }

  a {
    text-align: center;
    background-color: $color_titles;
  }

  input:hover {
    background-color: $contrast_color;
  }

  a:hover {
    background-color: $nav_li;
  }
}

#error_explanation {
  position: relative;
  color: rgb(167, 4, 26);
  display: flex;

  @include mukta-normal;

  background-color: #9d000057;
  border-radius: 5px;
  padding: 10px 0 0 10px;

  ul {
    padding-top: 5px;
    font-size: 16px;

    li {
      margin-right: 10px;
    }
  }
}

// SHOW
.article_show {
  padding-bottom: 5%;
  height: auto;

  .article_title,
  .article_text {
    color: rgb(19, 19, 19);
  }

  .article_title,
  .article_img,
  .article_text,
  .below_image,
  .votes_show {
    margin: 0 auto;
    width: 95%;
  }

  .article_title,
  .votes_show {
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .article_img {
    height: 550px;

    img {
      object-fit: cover;
      object-position: 50% 50%;
      height: 100%;
      width: 100%;
    }
  }

  .article_text {
    font-size: 18px;
    height: 50%;
    white-space: pre-wrap;
  }

  .below_image {
    font-size: 16px;

    .edit_show a {
      text-decoration: none;
      color: $color_titles;
      margin-left: 0;
      font-size: 16px;
    }

    .edit_show a:hover {
      color: $contrast_color;
    }
  }

  .votes_show {
    font-size: 25px;

    .message {
      color: $contrast_color;
    }
  }
}

@import 'footer';
