@import 'helpers';

footer {
  background-color: $bckg_footer;
  margin-right: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  height: 7vh;
  font-size: 0.8rem;

  .logo {
    color: $soft_white;
    font-size: 1.3rem;
  }

  .logo:hover {
    color: $soft_white;
  }

  .credits {
    color: $soft_white;
  }

  .rights,
  .contact {
    padding-top: 0.4rem;
  }

  .copyright {
    color: $contrast_color;
  }

  .contact p {
    color: $soft_white;
    margin-bottom: 0 !important;
  }

  .contact a {
    color: $contrast_color;
    font-size: 1rem;
  }
}
