@import 'helpers';

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 7.5vh;
  grid-template-areas: "logo links links sessionLi";
  background-color: $bckg_nav;
  padding-left: 1rem;
  padding-right: 1rem;
  color: $nav_li;
  font-size: 1rem;

  @include mukta-normal;
}

.logo {
  display: grid;
  grid-area: logo;
  color: $color_titles;

  @include prata-bolder;

  font-size: 1.8rem;
}

.logo:hover {
  color: $color_titles;
}

.links {
  display: grid;
  grid-area: links;
}

.sessionLi {
  display: grid;
  grid-area: sessionLi;
}

.session_li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link {
  padding: 0 0.4rem;
  color: $nav_li;
}

.link:hover {
  color: $contrast_color;
}

.link_icon {
  display: flex;
  align-items: center;
}

.icon {
  padding-right: 4px;
}

.signOut {
  font-size: 1.1rem;
}
