/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

$bckg_nav: #fff;
$soft_white: rgb(219, 219, 219);
$nav_li: #6e6788;
$bckg_footer: #1d080d;
$contrast_color: #c86502;
$art_categ: #ac599a;
$color_titles: #52424d;
$art_text: black;
$bckg_one: rgb(2, 0, 36);
$grad_bckg_one: linear-gradient(to bottom, rgba(36, 2, 2, 0.061), rgb(29, 6, 12));
$grad_bckg_two: linear-gradient(to bottom, rgba(29, 6, 12, 0.746), rgba(36, 2, 2, 0.061), rgba(29, 6, 12, 0.876));

@mixin article_index_img_containers {
  background-image: $grad_bckg_two;
  a {
    color: $contrast_color;
    font-weight: bolder;
    font-family: 'Mukta', sans-serif;
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
    object-position: 50% -185px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    filter: contrast(120%);
  }
}

@mixin link_container_elements {
  .link_container p {
    padding-left: 20px;
  }

  p:first-of-type {
    font-size: 20px;
    margin-bottom: 0 !important;
  }

  p:nth-child(2) {
    color: $soft_white;
    font-size: 16px;
    padding-bottom: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  //overflow-x: hidden;
}

html {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: #fff;
  position: relative;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 14px;

  margin-right: 0;
  margin-left: 0;
}

h2,
h3 {
  font-family: 'Mukta', sans-serif;
  overflow-y: hidden;
}

h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  overflow-y: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  filter: greyscale(20%);
}

.logo {
  color: $color_titles;
  font-family: 'Prata', serif;
  font-weight: 700;
  font-size: 32px;
}

.logo:hover {
  color: $color_titles;
}

nav {
  background-color: $bckg_nav;
  margin-right: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  a,
  .session_li {
    overflow-y: hidden;
    color: $nav_li;
    font-size: 18px;
    font-family: 'Mukta', sans-serif;
  }

  .session_ic {
    color: $nav_li;
    font-size: 18px;
  }

  .session_links {
    overflow-y: hidden;
  }

  a:hover {
    text-decoration: none;
    color: $contrast_color;
  }

  a:active {
    color: $contrast_color;
  }
}

.session {
  background-image: url(estilo_mty.jpg);
  background-color: $color_titles;
  background-repeat: no-repeat;
  background-position: 0% 84%;

  h2 {
    padding-top: 4%;
    overflow-y: hidden;
    font-size: 35px;
  }

  h2,
  form {
    color: whitesmoke;
    margin-left: 70%;
    max-width: 500px;
  }

  a {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 2%;
  }

  form {
    padding-bottom: 4%;

    div {
      label {
        font-size: 20px;
      }

      input {
        width: 250px;
        font-size: 18px;
      }

      .fixed-width-box {
        width: 50px !important;
        align-self: center;
      }

      .fixed-width {
        width: 200px !important;
      }

      .session_button {
        font-size: 20px;
        background-color: whitesmoke;
        color: $color_titles;
      }
    }
  }
}

.top_row_article_index {
  max-height: 400px;
  margin-right: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.bottom_row_article_index {
  max-height: 300px;
  margin-right: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.most_voted_article {
  background-image: $grad_bckg_one !important;
  max-height: 400px;

  @include article_index_img_containers;
  @include link_container_elements;

  p:first-of-type {
    margin-top: 285px;
  }

  img {
    width: 100%;
    max-height: 400px;
  }
}

.last_article {
  @include article_index_img_containers;
  @include link_container_elements;

  p:first-of-type {
    padding-top: 310px;
    padding-bottom: 30px;
    padding-right: 25px;
    color: $soft_white;
    text-align: center;
  }

  img {
    width: 100%;
    max-height: 400px;
    left: -1px;
  }
}

.categories_with_last_article {
  height: 310px;
  font-size: 18px;
  padding-left: 30px;

  @include article_index_img_containers;

  .category_name {
    padding-top: 20px;
    overflow-y: hidden;
  }

  .category_name a {
    color: $soft_white;
    text-decoration: underline;
    text-decoration-color: orange;
  }

  .category_last_article {
    margin-top: 180px;
    overflow-y: hidden;
  }

  .category_last_article a {
    color: $soft_white;
  }

  img {
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-position: 50% 54%;
    top: -10px;
  }
}

footer {
  background-color: $bckg_footer;
  margin-right: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  height: 100%;
}

footer {
  font-size: 14px;
  
  .logo {
    color: $soft_white;
    font-size: 20px;
  }

  .logo:hover {
    color: $soft_white;
  }

  .credits {
    color: $soft_white;
  }

  .copyright {
    color: $contrast_color;
  }

  .contact p {
    color: $soft_white;
  }

  .contact div {
    margin-top: -5px;
  }
  .contact a {
    color: $contrast_color;
    font-size: 24px;
  }

}
