/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

$bckg_nav: #fff;
$nav_li: #6e6788;
$bckg_footer: #52424d;
$footer_li: #bb7129;
$art_categ: #a16394;
$color_titles: #52424d;
$art_text: black;
$bckg_one: rgb(2, 0, 36);
$grad_bckg_one: linear-gradient(336deg, rgba(2, 0, 36, 0.8001401244091386) 0%, rgba(194, 94, 172, 0.6124650543811274) 35%, rgba(184, 166, 179, 0.4023810207676821) 100%);
$bckg_two: rgb(82, 66, 77);
$grad_back_two: linear-gradient(346deg, rgba(82, 66, 77, 0.7217087518601191) 0%, rgba(187, 113, 41, 0.5284314409357493) 34%, rgba(184, 166, 179, 0.5620448863139005) 100%);
$bckg_gloss: rgb(255, 253, 253);
$grad_bckd_gloss: linear-gradient(346deg, rgba(255, 253, 253, 0.7973390039609594) 0%, rgba(255, 255, 255, 0.6572829815519958) 34%, rgba(255, 255, 255, 0.3939776594231442) 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  overflow-x: hidden;
}

body {
  background: #fff;
  position: relative;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

h2,
h3 {
  font-family: 'Mukta', sans-serif;
  overflow-y: hidden;
}

h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  overflow-y: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a.hover {
  text-decoration: none;
}

nav {
  background-color: $bckg_nav;

  .logo {
    color: $color_titles;
    font-family: 'Prata', serif;
    font-weight: 700;
    font-size: 32px;
  }

  .logo:hover {
    color: $color_titles;
  }

  a,
  .session_li {
    color: $nav_li;
    font-size: 18px;
    font-family: 'Mukta', sans-serif;
  }

  .session_ic {
    color: $nav_li;
    font-size: 18px;
  }

  a:hover {
    text-decoration: none;
    color: $footer_li;
  }

  a:active {
    color: $footer_li;
  }
}

.session {
  background-image: url(estilo_mty.jpg);
  background-color: $color_titles;
  background-repeat: no-repeat;
  background-position: 0% 84%;
  h2 {
    padding-top: 4%;
    overflow-y: hidden;
    font-size: 35px;
  }
  h2, form {
    color: whitesmoke;
    margin-left: 70%;
    max-width: 500px;
  }

  a {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 2%;
  }

  form {
    padding-bottom: 4%;
    div {
      label {
        font-size: 20px;
      }
      input {
        width: 250px;
        font-size: 18px;
      }
      .fixed-width-box {
        width: 50px !important;
        align-self: center;
      }
      .fixed-width {
        width: 200px !important;
      }
      .session_button {
        font-size: 20px;
        background-color: whitesmoke;
        color: $color_titles;
      }
    }
  }
}
