/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

$bckg_nav: #fff;
$soft_white: rgb(219, 219, 219);
$nav_li: #6e6788;
$bckg_footer: #1d080d;
$contrast_color: #c86502;
$art_categ: #ac599a;
$color_titles: #52424d;
$art_text: rgb(10, 9, 9);
$bckg_one: rgb(2, 0, 36);
$grad_bckg_one: linear-gradient(to bottom, rgba(36, 2, 2, 0.061), rgb(29, 6, 12));
$grad_bckg_two: linear-gradient(to bottom, rgba(29, 6, 12, 0.746), rgba(36, 2, 2, 0.061), rgba(29, 6, 12, 0.876));

@mixin mukta-normal {
  font-weight: normal;
  font-family: 'Mukta', sans-serif;
}

@mixin mukta-bold {
  font-weight: 700;
  font-family: 'Mukta', sans-serif;
}

@mixin mukta-bolder {
  font-weight: 800;
  font-family: 'Mukta', sans-serif;
}

@mixin prata-bolder {
  font-family: 'Prata', serif;
  font-weight: 700;
}

@mixin rubik-normal {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

@mixin rubik-bold {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

@mixin article_index_img_containers {
  background-image: $grad_bckg_two;

  a {
    color: $contrast_color;

    @include mukta-bold;

    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
    object-position: 50% 50%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    filter: contrast(120%);
  }
}

@mixin link_container_elements {
  .link_container p {
    padding-left: 20px;
  }

  p:first-of-type {
    font-size: 20px;
    margin-bottom: 0 !important;
  }

  p:nth-child(2) {
    color: $soft_white;
    font-size: 16px;
    padding-bottom: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: #fff;
  position: relative;

  @include rubik-normal;

  font-size: 14px;
  margin-right: 0;
  margin-left: 0;
}

h2,
h3 {
  @include mukta-bold;

  overflow-y: hidden;
}

h4,
h5,
h6 {
  @include rubik-bold;

  overflow-y: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  filter: greyscale(20%);
}

.logo {
  color: $color_titles;

  @include prata-bolder;

  font-size: 30px;
}

.logo:hover {
  color: $color_titles;
}

nav {
  background-color: $bckg_nav;
  margin-right: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  height: 70px;

  a,
  .session_li {
    overflow-y: hidden;
    color: $nav_li;
    font-size: 16px;

    @include mukta-normal;
  }

  .session_ic {
    color: $nav_li;
    font-size: 16px;
  }

  .session_links {
    overflow-y: hidden;
  }

  a:hover {
    text-decoration: none;
    color: $contrast_color;
  }

  a:active {
    color: $contrast_color;
  }
}

.session {
  background-image: url(estilo_mty.jpg);
  background-color: $color_titles;
  background-repeat: no-repeat;
  background-position: 0% 84%;

  h2 {
    padding-top: 4%;
    overflow-y: hidden;
    font-size: 35px;
  }

  h2,
  form {
    color: whitesmoke;
    margin-left: 70%;
    max-width: 500px;
  }

  a {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 2%;
  }

  form {
    padding-bottom: 4%;

    div {
      label {
        font-size: 20px;
      }

      input {
        width: 250px;
        font-size: 18px;
      }

      .fixed-width-box {
        width: 50px !important;
        align-self: center;
      }

      .fixed-width {
        width: 200px !important;
      }

      .session_button {
        font-size: 20px;
        background-color: whitesmoke;
        color: $color_titles;
      }
    }
  }
}

// VOTES

.votes {
  .fa-heart {
    color: rgb(1, 128, 100);
  }

  .fa-heart-o {
    color: $art_text;
  }

  .fa-heart-o:hover {
    color: rgb(1, 128, 100);
  }
}

// ARTICLE INDEX

.top_row_article_index {
  max-height: 400px;
  margin-right: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.bottom_row_article_index {
  max-height: 300px;
  margin-right: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.most_voted_article {
  background-image: $grad_bckg_one !important;
  max-height: 400px;

  @include article_index_img_containers;
  @include link_container_elements;

  p:first-of-type {
    margin-top: 285px;
  }

  img {
    width: 100%;
    max-height: 400px;
    object-position: 54% 40%;
  }
}

.last_article {
  @include article_index_img_containers;
  @include link_container_elements;

  p:first-of-type {
    padding-top: 310px;
    padding-bottom: 30px;
    padding-right: 25px;
    color: $soft_white;
    text-align: center;
  }

  img {
    width: 100%;
    max-height: 400px;
    left: -1px;
  }
}

.categories_with_last_article {
  height: 310px;
  font-size: 18px;
  padding-left: 30px;

  @include article_index_img_containers;

  .category_name {
    padding-top: 20px;
    overflow-y: hidden;
  }

  .category_name a {
    color: $soft_white;
    text-decoration: underline;
    text-decoration-color: orange;
  }

  .category_last_article {
    margin-top: 180px;
    overflow-y: hidden;
  }

  .category_last_article a {
    color: $soft_white;
  }

  img {
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-position: 50% 54%;
    top: -10px;
  }
}

// FOOTER

footer {
  background-color: $bckg_footer;
  margin-right: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  height: 60px;
  font-size: 14px;

  .logo {
    color: $soft_white;
    font-size: 20px;
  }

  .logo:hover {
    color: $soft_white;
  }

  .credits {
    color: $soft_white;
  }

  .copyright {
    color: $contrast_color;
  }

  .contact p {
    color: $soft_white;
  }

  .contact div {
    margin-top: -5px;
  }

  .contact a {
    color: $contrast_color;
    font-size: 24px;
  }
}

// CATEGORY SHOW
.middle_section {
  background-image: url(pattern.png);
  height: 700px;
}

.no_article {
  padding-top: 18%;
  padding-bottom: 15.5%;

  a {
    color: $contrast_color;
    margin-top: 2%;
  }

  a:hover {
    color: $bckg_footer;
  }
}

.articles_in_category {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  .wrapper_details {
    display: flex;
    flex-direction: row;
    height: 350px;
  }

  .categ_article_wrapper2,
  .categ_article_wrapper3,
  .categ_article_wrapper6,
  .categ_article_wrapper7,
  .categ_article_wrapper10,
  .categ_article_wrapper11,
  .categ_article_wrapper14,
  .categ_article_wrapper15 {
    display: flex;
    flex-direction: row-reverse !important;
  }
}

.categ_article_img {
  width: 50%;
  position: relative;
  z-index: -1;

  img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    filter: contrast(120%);
    height: 350px;
    max-height: 350px;
  }
}

.categ_article_info {
  padding: 5%;
  width: 50%;

  .categ_show_name {
    color: $contrast_color;

    @include mukta-bolder;

    font-size: 18px;
    border-bottom: 2px solid $contrast_color;
  }

  .categ_article_title_text {
    color: $art_text;
    margin-top: 5%;

    a {
      color: $art_text;

      div {
        font-size: 18px;

        @include mukta-bolder;

        margin-bottom: 3%;
      }

      p {
        @include rubik-bold;

        font-size: 14px;
      }
    }
  }

  .categ_articles_votes {
    font-size: 18px;
  }
}

// CATEGORY INDEX
.section_header {
  border-bottom: 2px solid $bckg_footer;
  text-align: center;
}

.new_category {
  font-weight: bolder;
  color: $bckg_footer;
}

.new_category:hover {
  color: $bckg_footer;
}

.category_index_wrapper,
.category_new_edit_wrapper {
  padding-right: 30%;
  padding-left: 30%;
}

.categories_wrapper,
.new_category {
  padding: 10px 15px;
  background-color: rgba(255, 166, 0, 0.527);
  border: 2px solid $contrast_color;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bolder;
  margin: 10px;

  .categ_name a {
    color: $bckg_footer;
  }

  .categ_name a:hover {
    color: $color_titles;
  }

  .categ_options a i {
    color: $bckg_footer;
  }

  .categ_options a i:hover {
    color: $color_titles;
  }
}

// CATEGORY EDIT
.category_new_edit_wrapper {
  justify-content: center;
}

.categ_new_edit_form {
  @include mukta-bolder;

  .field label {
    color: $bckg_footer;
    font-weight: bold !important;
    font-size: 20px;
  }

  .field input,
  .actions input {
    background-color: rgba(202, 138, 0, 0.609);
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 18px;
    color: $bckg_footer;
  }

  .actions input {
    background-color: $contrast_color;
    color: $soft_white;
    border-radius: 22px;
  }
}
