<section class="category_edit middle_section">
  <div class="section_header pt-4">
    <h1>Editing Category</h1>
  </div>
  <div class="category_edit_wrapper d-flex flex-column align-items-center mt-4">
    <%= render 'form', category: @category %>
  </div>
</section>
