<footer class="footer pt-0 pb-0">
  <%= link_to 'EllaMexicana', root_path, class: "footerLogo d-flex align-items-center" %>
  <div class="privacyLi d-flex align-items-center justify-content-start">
    <a href="https://www.behance.net/gallery/14554909/liFEsTlye-Mobile-version" class="privacy pr-2">Privacy Policy</a>
    <a href="https://www.linkedin.com/in/ara-camarillo/" class="madeBy pr-4">Made By Ara CE</a>
    <a href="https://en.wikipedia.org/wiki/Copyright" class="copyright">Copyright 2020. All Rights Reserved.</a>
  </div>
  <div class="footerLi d-flex justify-content-end align-items-center">
    <span>Connect With Us:</span>
    <div class="footer_icons">
      <a href="https://twitter.com/Ara_CE_93" class="twitter">
        <i class="f_icon fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="https://www.facebook.com/" class="facebook">
        <i class="f_icon fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/aracelicaes" class="github">
        <i class="f_icon fa fa-github" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</footer>