<footer class='footer row pb-1'>
  <div class="logo_div col-3 mt-3">
    <%= link_to 'EllaMexicana', root_path, class: "logo" %>
  </div>
  <div class="col-6 rights justify-content-center mt-3">
    <a href="https://www.behance.net/gallery/14554909/liFEsTlye-Mobile-version" class="credits mr-2">Design By Nelson Sakwa</a>
    <a href="https://www.linkedin.com/in/ara-camarillo/" class="credits mr-2">Coded By Ara CE</a>
    <a href="https://en.wikipedia.org/wiki/Copyright" class="copyright">Copyright 2020. All Rights Reserved.</a>
  </div>
  <div class="contact col-3 d-flex justify-content-end mt-3">
    <p class="mr-3">Connect With Us:</p>
    <div>
      <a href="https://twitter.com/Ara_CE_93" class="twitter mr-3">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="https://www.facebook.com/" class="facebook mr-3">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/aracelicaes" class="github mr-3">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</footer>